.product {
  display: flex;
  flex-direction: column;
  min-height: 370px;
  min-width: 100px;
  align-items: center;
  justify-content: flex-end;
  background-color: white;
  z-index: 1;
  margin: 0 15px 15px 15px;
  padding: 0 15px;

  &__info {
    height: 100px;
    margin-bottom: 15px;
  }

  &__rating {
    display: flex;
  }
  & > img {
    max-height: 200px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;
  }
  & > button {
    background-color: #f0c14b;
    border: 1px solid;
    border-color: #a88734 #9c7e31 #846a29;
    margin-bottom: 15px;
    cursor: pointer;
  }
}
